<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAj1fz4m7OD2C_H6ktuFFGTeOEhRdAosco</string>
	<key>GCM_SENDER_ID</key>
	<string>527272147396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseMessagingApp</string>
	<key>PROJECT_ID</key>
	<string>messaging-app-30702</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-app-30702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527272147396:ios:441abbc933eb7399790c91</string>
</dict>
</plist>